@import "../mixins.scss";

.alter {
    background-color: #EEEEEE;
}

.alter__list {
    padding: 26px 18px;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 48px;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        flex-direction: row;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
    }
}

.alter__item {
    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 33%;
        flex-grow: 1;
        margin-bottom: 62px;
    }

    @media (min-width:$desktop-width) {
        margin-bottom: 0;
    }
}

.alter__title {
    @include title-style-black;
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
    background-color: #EEEEEE;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        margin-left: 30px;
        margin-right: 30px;
    }

    @media (min-width:$desktop-width) {
        width: 137px;
        margin: auto;
    }
}

.alter__number {
    @include description-style-black;
    background-color: #EEEEEE;
    color: #333333;
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
}

.alter__description {
    @include description-style-black;
    background-color: #EEEEEE;
    margin: 0;
}

.alter__wrapper {
    margin-left: 8px;
    margin-right: 8px;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        padding: 41px 50px 0 50px;
        margin: 0;
    }    
}

.alter__wrapper-area {
    @media (min-width:$tablet-width) {
        padding-right: 34px;
        padding-left: 33px;
    }    

    @media (min-width:$desktop-width) {
        padding: 43px 43px 62px 42px;
    }
}

.alter__wrapper-road {
    @media (min-width:$tablet-width) {
        padding-right: 54px;
        padding-left: 54px;
    }    

    @media (min-width:$desktop-width) {
        padding: 42px 65px 62px 65px;
    }
}

.alter__wrapper-tourists {
    @media (min-width:$tablet-width) {
        padding-right: 40px;
        padding-left: 41px;
    }    

    @media (min-width:$desktop-width) {
        padding: 42px 55px 62px 55px;
    }
}
