
body {
    font-family:"PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000000;
    margin: auto;
    padding: 0;
}
