.button-review {
    width: 280px;

    @media (min-width:$tablet-width) {
        width: 648px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width:$desktop-width) {
        width: 768px;
        margin: auto;
    }
}

.button-review__button {
    font-family: inherit;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81B3D2;
    padding: 20px 45px 14px 45px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        background-color: #669EC0;
    }

    &:active {
        background-color: #5496BD;
        color: rgba(255, 255, 255, 0.30);
    }
    @media (min-width:$tablet-width) {
        padding: 20px 76px 14px 67px;
    }

    @media (min-width:$desktop-width) {
        padding: 20px 107px 14px 97px;
    }

}

.button-review__legend small {
    margin: 0;
    text-align: end;
    color: #333333;
    opacity: 60%;
    font-size: 14px;
}