@import "../mixins.scss";

.clarification-list {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.clarification-list__list {
    padding: 23px 18px 52px 18px;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    gap: 22px;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        padding: 0;
        padding-bottom: 59px;
        gap: 0;      
        flex-direction: row;  
        text-align: center;
        margin: 0;
    }

    @media (min-width:$desktop-width) {
        padding-bottom: 0;
    }
}

.clarification-list__item {
    background-color: #ffffff;
    position: relative;
    padding-top: 8px;
    
    @import "../variable.scss";
    
    @media (min-width:$tablet-width) {
        width: 33%;
        flex-grow: 1;
        padding-top: 0;
    }

    @media (min-width:$desktop-width) {
        width: 400px;
    }
}

.clarification-list__wrapper {
    margin-left: 47px;
    @media (min-width:$tablet-width) {
        margin-left: 0;
        padding: 158px 35px 0 36px;
    }

    @media (min-width:$desktop-width) {
    }
}

.clarification-list__wrapper--home {
    @media (min-width:$tablet-width) {
        padding-left: 36px;
        padding-right: 35px;
    }
    
    @media (min-width:$desktop-width) {
        padding: 159px 60px 79px 58px;
    }
}

.clarification-list__wrapper--food {
    @media (min-width:$tablet-width) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (min-width:$desktop-width) {
        padding: 157px 50px 80px 51px;
    }
}

.clarification-list__wrapper--souvenirs {
    @media (min-width:$tablet-width) {
        padding-left: 32px;
        padding-right: 31px;
    }

    @media (min-width:$desktop-width) {
        padding: 158px 78px 79px 78px;
    }
}

.clarification-list__title {
    @include title-style-black;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        margin-left: 0;
        font-size: 21px;
        margin-bottom: 30px;
    }
}

.clarification-list__description {
    @include description-style-black;
    margin: 0;
    padding: 0;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        margin-left: 0;
    }
}

.clarification-list__svg {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;

    @media (min-width:$tablet-width) {
        width: 75px;
        height: 72px;
        top: 60px;
        left: 90px;
    }
    
    @media (min-width:$desktop-width) {
        top: 59px;
        left: 161px;
    }

    
}

