@import "../mixins.scss";

.contacts {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding-bottom: 34px;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 298px;
        align-content: flex-end;
    }
    @media (min-width:$desktop-width) {
        width: 403px;
        padding-left: 62px;
    }
}

.contacts__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contacts__item {
    margin-bottom: 16px;
}

.contacts__item:last-child {
    margin: 0;
}

.contacts__title {
    @include title-style-black;
    margin: 0;
    margin-bottom: 20px;

    @media (min-width:$tablet-width) {
        font-size: 21px;
        margin-left: -35px;
        margin-bottom: 27px;
    }

    @media (min-width:$desktop-width) {
        margin-left: -62px;
    }
}

.contacts__name {
    @include description-style-black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
}

.contacts__name small {
    margin-left: 16px;
    font-size: 14px;
}

.contacts__input-contacts-phone {
    width: 280px;
    height: 58px;
    border: none;
    padding: 16px;
    padding-right: 58px;
    margin: 0;
    box-sizing: border-box;
    @include title-style-black;
    background-color: #F2F2F2;
    background-image: url("../../img/phone.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;

    @media (min-width:$desktop-width) {
        width: 403px;
    }

    &:hover {
        background-color: #E5E5E5;
    }

    &:active {
        background-color: #ffffff;
        border: 4px #E5E5E5 solid;
    }

    &:focus-visible{ 
        outline: none;
    }
}

.contacts__input-contacts-email {
    width: 280px;
    height: 58px;
    border: none;
    padding: 16px;
    padding-right: 58px;
    margin: 0;
    box-sizing: border-box;
    @include title-style-black;
    background-color: #F2F2F2;
    background-image: url("../../img/email.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;

    @media (min-width:$desktop-width) {
        width: 403px;
    }

    &:hover {
        background-color: #E5E5E5;
    }

    &:active {
        background-color: #ffffff;
        border: 4px #E5E5E5 solid;
    }

    &:focus-visible{ 
        outline: none;
    }
}