@import "../mixins.scss";

.emotions {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
        align-content: center;
        padding-top: 42px;
        padding-bottom: 64px;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
        padding-top: 56px;
    }
}

.emotions__title {
    @include title-style-black;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;

    @media (min-width:$tablet-width) {
        font-size: 21px;
        position: relative;
    }
}

.emotions__title::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #DBDBDB;
    top: 13px;
    left: 0;
    display: none;

    @media (min-width:$tablet-width) {
        display: block;
    }

    @media (min-width:$desktop-width) {
        width: 280px;
        display: block;
    }
}

.emotions__title::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #DBDBDB;
    top: 13px;
    right: 0;
    display: none;

    @media (min-width:$tablet-width) {
        display: block;
    }

    @media (min-width:$desktop-width) {
        width: 280px;
        display: block;
    }
}

.emotions__emotions-form {
    width: 100%;
}

.emotions__emotions-input {
    width: 279px;
    height: 150px;
    border: none;
    @include title-style-black;
    background-color: #F2F2F2;
    color: #000000;
    opacity: 30%;
    padding: 16px;
    box-sizing: border-box;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 648px;
        height: 160px;
        margin-bottom: 48px;
    }

    @media (min-width:$desktop-width) {
        width: 768px;
    }
}