.form-footer {
    background-color: #ffffff;
    color: #000000;
    font-family: inherit;
    width: 320px;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
        height: 120px;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
    }
}

.form-footer__wrapper {
    padding: 15px 80px 29px 84px;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        flex-direction: row;
        justify-content: space-between;
        height: 120px;
        align-items: center;
        margin: 0 58px 0 60px;
        padding: 0;
    }

    @media (min-width:$desktop-width) {
        margin-left: 119px;
        margin-right: 120px;
    }
}

.form-footer__title {
    font-family: inherit;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin: 0 4px 0 0;
    padding: 0;
}

.form-footer__list {
    margin: 34px 0 40px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width:$tablet-width) {
        width: 156px;
        margin: 0;
        margin-right: 5px;

    }
}

.form-footer__item {
    width: 48px;
    height: 48px;
    background-color: #81B3D2;
    display: flex;
}

.form-footer__link {
    width: 48px;
    height: 48px;
    background-color: #81B3D2;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #669EC0;
    }

    &:active {
        background-color: #5496BD;
        fill: rgba(255, 255, 255, 0.3);
    }
}

.form-footer__svg {
    width: 24px;
    height: 24px;
}
