@import "../variable.scss";

.frame-tablet {
    display: none;

    @media (min-width:$tablet-width) {
        display: block;
        position: absolute;
        width: 768px;        
        height: 57px;    
        bottom: 0;
        left: 0;    
    }

    @media (min-width:$desktop-width) {
        display: none;
    }
}