@import "../mixins.scss";

.gallery {
    background-color: #ffffff;
    width: 320px;
    color: #000000;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
    }
}

.gallery__list {
    width: 320px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
        display: grid;
        grid-template-columns: 324px 324px;
    }

    @media (min-width:$desktop-width) {
        grid-template-columns: 400px 400px 400px;
    }
}

.gallery__item {
    max-width: 280px;
    margin: 25px 20px;
}

.gallery__image {
    margin: 0;
    padding: 0;
}

.gallery__image-description {
    @include figcaption-title;
    margin-top: 15px;
}    
.gallery__author {
    @include figcaption-description;
    margin: 0;
}

.gallery__amount {
    @include figcaption-title;
    margin: 0;
}

.gallery__like {
    margin: 0;
}


