.greeting-form {
    background-image: url("../../img/backgroundform.png");
    width: 320px;
    height: 214px;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        background-image: url("../../img/welcometablet.jpg");        
        width: 768px;
        height: 290px;
    }

    @media (min-width:$desktop-width) {
        background-image: url("../../img/welcomedesktop.jpg");
        width: 1200px;
        height: 290px;
    }
}

.greeting-form__svg {
    margin: 52px 46px 67px 47px;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 458px;
        height: 78px;
        margin: 95px 150px 118px 150px;
    }

    @media (min-width:$desktop-width) {
        width: 460px;
        height: 80px;
        margin: 101px 370px 120px 370px;
    }
}