@import "../mixins.scss";

.intro {
    background-color: #ffffff;
    color: #000000;
    padding: 0;
    margin: 0;
    width: 320px;
    
@import "../variable.scss";

@media (min-width:$tablet-width) {
    width: 768px;    
}

@media (min-width:$desktop-width){
    width: 1200px;
}    
}

.intro__wrapper {
    margin: 32px 20px 32px 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.intro__title {
    @include title-style-black;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
}

.intro__description {
    @include description-style-black;
    margin: 0;
    padding: 0;
}