@import "../mixins.scss";

.intro-form {
    background-color: #ffffff;
    color: #000000;
    padding: 0;
    margin: 0;
    width: 320px; 
    text-align: center;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
    }
}

.intro-form__wrapper {
    padding: 36px 20px 28px 20px;

    @media (min-width:$tablet-width) {
        padding: 64px 166px 105px 167px;
    }

    @media (min-width:$desktop-width) {
        padding: 105px 383px 70px 382px;
    }
}

.intro-form__title {
    @include title-style-black;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;

    @media (min-width:$tablet-width) {
        font-size: 30px;
    }

    @media (min-width:$desktop-width) {
        margin-bottom: 34px;
    }
}

.intro-form__description {
    @include description-style-black;
    margin: 0;
    padding: 0;

    @media (min-width:$tablet-width) {
        margin-bottom: 0;
    }
}