@import "../mixins.scss";

.intro-form {
    background-color: #ffffff;
    color: #000000;
    padding: 0;
    margin: 0;
    width: 320px; 
    text-align: center;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
    }
}

.intro-form__wrapper {
    margin: 36px 20px 28px 20px;
}

.intro-form__title {
    @include title-style-black;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
}

.intro-form__description {
    @include description-style-black;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
}