@import "../mixins.scss";

.intro-catalog {
    background-color: #ffffff;
    color: #000000;
    width: 320px;
    padding: 0;
    text-align: center;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
    }
}

.intro-catalog__title {
    @include title-style-black;
    margin: 0;
    margin-bottom: 24px;

    @media (min-width:$tablet-width) {
        font-size: 30px;
        margin-bottom: 32px;
    }
}

.intro-catalog__description {
    @include description-style-black;
    margin: 0;
    padding: 0;
}

.intro-catalog__wrapper {
    padding: 37px 20px 37px 20px;
    margin: 0;

    @media (min-width:$tablet-width) {
        padding: 66px 165px 82px 165px;
    }

    @media (min-width:$desktop-width) {
        padding: 91px 380px 88px 380px;
    }
}