@import "../mixins.scss";

.intro {
    background-color: #ffffff;
    color: #000000;
    padding: 0;
    margin: 0;
    width: 320px;
    position: relative;
    
@import "../variable.scss";

@media (min-width:$tablet-width) {
    width: 768px;    
}

@media (min-width:$desktop-width){
    width: 1200px;
}    
}

.intro__wrapper {
    padding: 33px 30px 33px 27px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

    @media (min-width: $tablet-width) {
        padding: 48px 124px 56px 124px;        
    }

    @media (min-width: $desktop-width) {
        padding: 59px 359px 44px 357px;

    }
}

.intro__title {
    @include title-style-black;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
        font-size: 21px;
    }
}

.intro__title--two {
    @include title-style-black;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 35px;
    padding: 0;

    @media (min-width: $tablet-width) {
        font-size: 21px;
        margin-bottom: 27px;
    }
}

.intro__description {
    @include description-style-black;
    margin: 0;
    padding: 0;
}

.intro__svg {
    position: absolute;
    width: 320px;
    height: 37px;
    top: 204px;
    left: 0;

    @media (min-width: $tablet-width) {
        display: none;
    }
}