.logo-sedona {
    margin: 90px 19px 85px 19px;

    @import "../variable.scss";

    @media (min-width: $tablet-width) {
        width: 461px;
        height: 360px;
        margin: 72px 154px 91px 153px;
    }

    @media (min-width: $desktop-width) {
        width: 461px;
        height: 360px;
        margin: 73px 370px 90px 370px;
    }    
}
