
.main-header {
    background-color: #ffffff;
    width: 320px;
    height: 56px;
    display: flex;
    flex-direction: column;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
    }
}

.main-header__logo {
    margin: auto;
    padding: 0;
    text-align: center;
}