.main-footer {
    background-color: #ffffff;
    color: #000000;
    font-family: inherit;
}

.main-footer__wrapper {
    margin: 29px 82px;
}

.main-footer__title {
    font-family: inherit;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.main-footer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}