
.main-header {
    background-color: #ffffff;
    height: 56px;
    display: flex;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
    }
}

.main-header__logo {
    margin: auto;
    padding: 0;
}

.main-header__toggle {
    width: 23px;
    height: 22px;

    @import "../variable.scss";

    @media (min-width: $tablet-width) {
        display: none;        
    }
}