.map {
    background-color: #ffffff;
    color: #000000;
    width: 320px;
    
}

.map iframe {
    display: block;
    border: none;
}

.map__map {
    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
        height: 350px;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
        height: 350px;
    }
}
