.review-form {
    background-color: #ffffff;
    color: #000000;
    width: 320px;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;        
    }

    @media (min-width:$desktop-width) {
        width: 1280px;
    }
}

.review-form__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
}

.review-form__item {
    margin: 24px 20px 39px 20px;
}