.review-form {
    background-color: #ffffff;
    color: #000000;
    width: 320px;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;        
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
    }
}

.review-form__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 648px;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    @media (min-width:$desktop-width) {
        width: 960px;
    }

}

.review-form__item {
    padding: 24px 21px 39px 21px;
    width: 278px;
    border-top: 1px #E5E5E5 solid;

    @media (min-width:$tablet-width) {
        border: none;
        padding: 0;
    }
}