@import "../mixins.scss";
@import "../variable.scss";

.search-hotel {
    background-color: #ffffff;
    color: #000000;
    width: 320px;
    text-align: center;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
        text-align: center;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
    }
}

.search-hotel__wrapper {
    padding: 38px 28px 31px 30px;
    margin: 0;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        padding: 61px 166px 43px 167px;
    }

    @media (min-width:$desktop-width) {
        padding: 61px 382px 46px 383px;
    }
}

.search-hotel__title {
    font-family: inherit;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;   
    margin: 0;
    margin-bottom: 22px;
    padding: 0; 

    @media (min-width:$tablet-width) {
        font-size: 30px;
        margin-bottom: 31px;
    }

    @media (min-width:$desktop-width) {
        font-size: 30px;
    }
}

.search-hotel__description {
    @include description-style-black;
    margin: 0;

    @media (min-width:$tablet-width) {
        padding: 0;
    }
}

.hotel-search__button {
    margin-bottom: 47px;
    border: none;
    padding: 16px 49px;
    background-color: #81B3D2;
    text-transform: uppercase;
    cursor: pointer;
    @include title-style-white;
    font-size: 21px;

    &:hover {
        background-color: #669EC0;
    }
    
    &:active {
        background-color: #5496BD;
        color: rgba(255, 255, 255, 0.3);;
    }

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        margin-bottom: 58px;
        padding: 15px 136px 18px 136px;
        font-size: 21px;
    }

    @media (min-width:$desktop-width) {
        margin-bottom: 66px;
    }
}
