@import "../mixins.scss";

.sights {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 17px;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
        align-content: center;
        padding-top: 25px;
    }

    @media (min-width:$desktop-width) {
        width: 1280px;
        padding-bottom: 0;
    }
}

.sights__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        flex-direction: row;
        width: 480px;
        margin: auto;
    }

    @media (min-width:$desktop-width) {
        width: 960px;
    }
}

.sights__item:not(:last-child) {
    margin-bottom: 9px;

    @media (min-width:$desktop-width) {
        margin-bottom: 0;
    }
}

.sights__item:nth-child(2) {
    @media (min-width:$tablet-width) {
        width: 45%;
        margin-left: 59px;
        }

    @media (min-width:$desktop-width) {
        margin-left: 0;
        width: 25%;
    }
}

.sights__item:nth-child(4) {
    @media (min-width:$tablet-width) {
    width: 45%;
    margin-left: 59px;
    }

    @media (min-width:$desktop-width) {
        margin-left: 0;
        width: 25%;
    }
}

.sights__item {

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
    width: 192px;
    flex-grow: 1;
    }

    @media (min-width:$desktop-width) {
        text-align: center;
        margin: 0;
        padding-top: 31px;
        padding-bottom: 31px;
        width: 25%;
    }
}

.sights__title {
    @include title-style-black;
    margin: 0;
    margin-bottom: 20px;    

    @media (min-width:$tablet-width) {
        font-size: 21px;
        position: relative;
        width: 100%;
        margin-bottom: 28px;
    }
    
    @media (min-width:$desktop-width) {
        margin-bottom: 28px;
    }
}

.sights__title::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #DBDBDB;
    top: 26px;
    left: 0;
    display: none;

    @media (min-width:$tablet-width) {
        display: block;
    }

    @media (min-width:$desktop-width) {
        width: 280px;
        display: block;
    }
}

.sights__title::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #DBDBDB;
    top: 26px;
    right: 0;
    display: none;
    
    @media (min-width:$tablet-width) {
        display: block;
    }

    @media (min-width:$desktop-width) {
        width: 280px;
        display: block;
    }
}

.sights__variant {
    @include title-style-black;
    text-transform: none;
}

.sights__variant>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.sights__variant>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.sights__variant>span::before {
    content: "";
    display: inline-block;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    margin-right: 16px;
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.sights__variant>input+span:hover::before {
    background-color: #E5E5E5;
}

.sights__variant>input:active+span::before {
    background-color: #D5D5D5;
}

.sights__variant>input:checked+span::before {
    background-image: url(../../img/check.svg);
    background-size: 22px 16px;
    background-repeat: no-repeat;
}

.sights__variant>input:checked+span:active::before {
    background-image: url(../../img/checkgray.svg);
    background-size: 22px 16px;
    background-repeat: no-repeat;
}