.video-presentation {
    background-color: #ffffff;
    color: #000000;
    width: 320px;
    text-align: center;

    @import "../variable.scss";

    @media (min-width:$tablet-width) {
        width: 768px;
        margin-bottom: 42px;
    }

    @media (min-width:$desktop-width) {
        width: 1200px;
        margin-bottom: 85px;
    }
}

.video-presentation__wrapper {
    padding: 17px 26px 38px 28px;

    @media (min-width:$tablet-width) {
        padding: 0 162px 89px 161px;
    }

    @media (min-width:$desktop-width) { 
        padding: 62px 378px 87px 377px;;
    }
}

.video-presentation__video-image {
    display: block;
    margin: auto;
}

@import"../mixins.scss";

.video-presentation__title {
    @include title-style-black;
    margin: 0;
    margin-bottom: 27px;
    padding: 0;

    @media (min-width:$tablet-width) {
        font-size: 30px;
        margin-bottom: 32px;
    }
}

.video-presentation__description {
    @include description-style-black;
    margin: 0;
    padding: 0;

}